/* TableCell {
  color: black;
  background-color: aquamarine;
  text-align: center;
  align-items: center;
  justify-content: center;
} */

.Container {
  /*전체 큰 틀*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.test {
  display: flex;
  flex-direction: column;
}
.item {
  /*표에 대한 데이터*/
  flex-direction: column;
  width: 1000px;
  border: black solid 1px;
  border-radius: 10px;
  padding: 100px;
  margin-top: 5%;

  /* margin-right: 20%; */
  margin-bottom: 5%;
  background-color: rgb(245, 252, 255);
}

.tableHeader {
  font-weight: bold;
  text-align: center;
}

/* modal 속성 */
.modal {
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 50%;
  min-width: 50%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding-left: 4vw;
  padding-right: 4vw;
}

/* Modal- 근무상태 */
.bgBlack {
  background-color: rgb(189, 189, 204);
  border-radius: 10px;
  padding: 20px;
}

.btn {
  display: flex;
  justify-content: right;
}

#textField {
  /* top: 45%; */
  /* left: 25%; */
  width: 50%;
}
.h1 {
  display: inline-block;
  font-size: 20px;
  /* transform: translate(-50%, -50%); */
  margin-top: 20px;
  background-color: rgb(233, 241, 241);
}

.test9 {
  z-index: 9999999;
}
