* {
  font-family: 'GmarketSans';
}

.tab {
  font-family: 'GmarketSans';
  font-size: large;
  font-weight: 500;
}

.title {
  font-family: 'GmarketSans';
  font-size: large;
  font-weight: 500;
  color: grey;
}

.select {
  font-family: 'GmarketSans';
  font-size: small;
  font-weight: 500;
  color: gray;
}

.sidebar_container {
  display: flex;
  position: relative;
  /* right: 20%; */
  min-height: 75vh;
  align-items: center;
  padding-top: 2%;
  width: 20%;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.css-ahj2mt-MuiTypography-root {
  font-family: 'GmarketSans';
}
